<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Page 5</title>
</head>
<body>

<div id="app">
<p><button v-on:click="method1">My Button</button></p>
<p>simple list</p>
<ul>
	<li v-for="person in persons">{{ person.name }} who is {{ person.age }}</li>
</ul>
<p>two arguments</p>
<ul>
	<li v-for="(person, index) in persons">index {{ index }}: {{ person.name }} who is {{ person.age }}</li>
</ul>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>

var app = new Vue({
	el: '#app',
	data: {
		title: 'this is the starting message',
		persons: [
			{ name: 'Max',   age: 27 },
			{ name: 'Chris', age: 30 },
			{ name: 'Nora',  age: 25 }
		]
	},
	methods: {
		method1() {
			this.title = 'you clicked the button';
		},
		method2() {
			this.title = `you changed the text to "${ "TODO" }"`;	
		}
	}
});

</script>
</body>
</html>










